*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   
}

body{
    justify-content: flex-end;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;

}
header{
    text-align: center;
    padding: 20px;
    background-color: white;
}
header img{
    max-width: 900px;
    max-height: 200px;
    margin-bottom: 10px;
    transition: display all;
}
nav {
    background-color: #0055a5;
    padding: 10px;
    margin: 20px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav ul li a {
    color: white;
    background-color: #05345d;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: backbround-color 0.7s;
}
nav ul li a:hover {
     background-color: #022442;
     border-radius: 10px;
}
#entregable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}
article{
    flex: 2;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #022442;
}
article ol li{
    margin-left: 15px;
}
article ul li{
    margin-left: 15px;
}
article img{
    width: 300px;
}
aside{
    flex: 1;
    background-color: #eef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #022442;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #0055a5;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
}
footer a{
    color: #f5f5f5;
}
article table {
    background-color: #fdf8fc;
    border: 1px solid;
}
article table th,td,tr {
    border: 1px solid black;
    margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;

}
footer a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
dl dt {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    color: #003366;
}
dl dd {
    margin-left: 20px;
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
}